@tailwind base;
@tailwind components;
@tailwind utilities;

.dark .bg-blue-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(29, 78, 216, var(--tw-bg-opacity)); 
}

body {
    background-color: #fff;
    color: #333;
}

.dark {
    background-color: #333;
    color: #fff;
}

.dark #monitor {
    background-color: #222;
    color: #fff;
}

.light-button {
    color: black;
}
